
<div class="row no-gutters">
  <div class="col-md-4 offset-md-2 login-con">
    <div class="login-in-con">
      <div class="site-logo">
        <img src="../../../assets/SCPlogoBG.png">
      </div>
      <labeL>New Password</labeL>
      <input type="password" class="form-control white-bg-input" aria-describedby="Password" placeholder="Password"
        [(ngModel)]="password">
        <labeL>Confirm New Password</labeL>
        <input type="password" class="form-control white-bg-input" aria-describedby="Password" placeholder="Password"
        [(ngModel)]="confirmPassword">
      <br>
      <br>
      <div (click)="ResetPassword(password, confirmPassword)" class="btn btn-lg btn-block btn-green btn-normal  ">Reset Password</div>
    </div>
  </div>
</div>
<app-alert [messages]="AlertMessages"></app-alert>