<!-- 
        <div class="metrics-list">
          <div class="offset-md-9 col-md-2 cancel-btn-con">
            <button type="button" class="btn btn-lg btn-block btn-red btn-normal" (click)="pastProgramId = 0"
              *ngIf="pastProgramId != 0">Cancel</button>
          </div>
          <app-athlete-workout [AutoLoad]="false" [AthleteId]="CurrentAthlete.Id"
            [PastAssignedWorkoutModel]="pastProgram" *ngIf="pastProgramId != 0"  [DisplayPrintButton]="false"></app-athlete-workout>
          <div class="row one-metric no-gutters" *ngFor="let p of HistoricPrograms">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-9" (click)="ShowPastProgram(p.AssignedProgramId)">
                  <h5 class="title"> {{p.ProgramName}}  
                  </h5>
                </div>
                <div class="col-3 text-right">
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <h1 style="text-align: center; margin: 10% 0% 0% 10%; width:80%">This page is currently being redesigned to work with out new Athlete Programming Engine.</h1>