<!-- <div class="background-img-div">
  <div class="container">
    <div class="site-logo">
      <a href="#">
        <img src="../../../../assets/newReg/sitelogo.png" alt="sitelogo.png" />
      </a>
    </div>
    <div class="page-content">
      <div class="formsteps">
        <div class="step-block " [ngClass]="{'active': wizardState === 1, 'inactive': wizardState !== 1}" (click)="advanceWizardStateByStep(1)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 1, 'inactive': wizardState !== 1}">
            <span>1 </span>
          </div>
        </div>
        <div class="step-stick"></div>
        <div class="step-block"  [ngClass]="{'active': wizardState === 2, 'inactive': wizardState !== 2}" (click)="advanceWizardStateByStep(2)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 2, 'inactive': wizardState !== 2}">
            <span>2</span>
          </div>
        </div>
        <div class="step-stick"></div>
        <div class="step-block " [ngClass]="{'active': wizardState === 3, 'inactive': wizardState !== 3}" (click)="advanceWizardStateByStep(3)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 3, 'inactive': wizardState !== 3}">
            <span>3</span>
          </div>
        </div>
        <div class="step-stick"></div>
        <div class="step-block " [ngClass]="{'active': wizardState === 4, 'inactive': wizardState !== 4}" (click)="advanceWizardStateByStep(4)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 4, 'inactive': wizardState !== 4}">
            <span>4</span>
          </div>
        </div>
      </div>
      <app-step1 [hidden]="wizardState !== 1" [(wizardState)]="wizardState" (OrganizationNameChange)="CollectOrganizationName($event)" ></app-step1>
       <app-step2 [hidden]="wizardState !== 2" [(wizardState)]="wizardState" (SelectedPlanChange)="CollectPlanId($event)" ></app-step2>
      <app-step3 [hidden]="wizardState !== 3" [(wizardState)]="wizardState" (clientInfoChange)="CollectClientInfo($event)" ></app-step3>
      <app-step4 [hidden]="wizardState !== 4" [(wizardState)]="wizardState" [(clientInfo)]="clientInfo" (FinishRegistration)="FinishRegistration($event)" [finishedProcessing]="alertChildProcessingFinished"></app-step4>
    </div>
  </div>
</div> -->

<div class="background-img-div">
  <div class="container">
    <div class="site-logo">
      <a href="#">
        <img src="../../../../assets/newReg/sitelogo.png" alt="sitelogo.png" />
      </a>
    </div>
    <div class="page-content">
      <div class="formsteps">
        <div class="step-block " [ngClass]="{'active': wizardState === 1, 'inactive': wizardState !== 1}" (click)="advanceWizardStateByStep(1)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 1, 'inactive': wizardState !== 1}">
            <span>1 </span>
          </div>
        </div>
        <div class="step-stick"></div>
        <div class="step-block"  [ngClass]="{'active': wizardState === 2, 'inactive': wizardState !== 2}" (click)="advanceWizardStateByStep(2)">
          <div class="inner-ring "  [ngClass]="{'active': wizardState === 2, 'inactive': wizardState !== 2}">
            <span>2</span>
          </div>
        </div>
      </div>
      <app-step1 [hidden]="wizardState !== 1" [(wizardState)]="wizardState" (OrganizationNameChange)="CollectOrganizationName($event)" ></app-step1>
      <app-step4 [hidden]="wizardState !== 2" [(wizardState)]="wizardState" [(clientInfo)]="clientInfo" (FinishRegistration)="FinishRegistration($event)" [finishedProcessing]="alertChildProcessingFinished"></app-step4>
    </div>
  </div>
</div>

<app-alert [messages]="AlertMessages"></app-alert>
